    <!--******************** NAVBAR ********************-->
    <div class="navbar-wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
            <h1 class="brand"><a href="#top">Tastemaker</a></h1>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <nav class="pull-right nav-collapse collapse">
              <ul id="menu-main" class="nav">
                <li><a title="portfolio" href="#portfolio">Tastebox</a></li>
                <li><a title="services" href="#services">How it Works</a></li>
                <li><a title="news" href="#news">Pricing</a></li>
               <!--  <li><a title="team" href="#team">meet the team</a></li> -->
                <li><a title="contact" href="#contact">Get Started</a></li>
                <li id="login_info">
                  <%= render 'layouts/user_widget' %>
                </li>

              </ul>
            </nav>
          </div>
          <!-- /.container -->
        </div>
        <!-- /.navbar-inner -->
      </div>
      <!-- /.navbar -->
    </div>
    <!-- /.navbar-wrapper -->
    <div id="top"></div>
    <!-- ******************** HeaderWrap ********************-->
    <div id="headerwrap">
      <header class="clearfix">
     <!--    <h1>Enjoy the finest restaurants New York City has to offer</h1>
        <h3>From the convenience of your own home</h3> -->
        <div class="container">
          <div class="row">
            <div id="main-landing" class="span12">
            </div>
          </div>
        </div>
      </header>
    </div>



    <!--******************** Feature ********************-->
    <div class="scrollblock">
      <section id="feature">
        <div class="container">
          <div class="row">
            <div class="span12">
            </div>
          </div>
        </div>
      </section>
    </div>
    <hr>


    <!--******************** TASTEBOX Section ********************-->
    <section id="portfolio" class="single-page scrollblock">
      <div class="container">
        <div class="align"><i class="icon-basket"></i></div>
        <h1 id="folio-headline">Tastebox</h1>
        <div class="row">

          <div class="span6">
            <div class="mask2"> <img src="img/Baked-goods-e1288379066214.jpg" alt="">
            </div>
          </div>

          <div class="span6">
            <div class="inside">
              <hgroup>
                <h2>Curated foods from the best local establishments. Delivered to your door on a regular basis.</h2>
              </hgroup>
            </div>
          </div>
        </div>  <!-- row ends -->

        <br><br>

        <div class="row">
          <div class="span6">
            <div class="mask2"> <img src="img/levain-bakery-chocolate-chip-cookie-recipe-.jpg" alt="">
            </div>
          </div>

           <div class="span6">
              <div class="inside">
                <hgroup>
                  <h2>Including Award-Winning shops including <a href="http://levainbakery.com">Levain Bakery</a> and <a href="http://ladym.com">Lady M Confections</a>
                  </h2>
                  <Br><Br><Br><br><Br><Br>
                </hgroup>
              </div>
          </div>

            <div class="span6">
              <div class="mask2"> <img src="img/5.jpg" alt="">
            </div>

        </div>  <!-- row ends -->
      </div>  <!-- /.container -->
    </section>
    <hr>



    <!--******************** HOW IT WORKS Section ********************-->
    <section id="services" class="single-page scrollblock">
      <div class="container">
        <div class="align"><i class="icon-cog-circled"></i></div>
        <h1>How it Works</h1>

        <!-- three columns -->
        <div class="row">

          <div class="span4">
            <div class="align"> <i class="icon-pencil sev_icon"></i> </div>
            <h2>Subscribe</h2>
            <p>For your monthly delivery. Make sure to let us know if you have any dietary restrictions! </p>
          </div>
          <!-- /.span4 -->
          <div class="span4">
            <div class="align"> <i class="icon-mail sev_icon"></i> </div>
            <h2>Receive</h2>
            <p>A specially curated, theme-based dessert the 2nd week of each month!</p>
          </div>
          <!-- /.span4 -->
          <div class="span4">
            <div class="align"> <i class="icon-food sev_icon"></i> </div>
            <h2>Eat</h2>
            <p>And share great desserts from the best local establishments at your convenience.</p>
          </div>

        </div>
        <!-- /.row -->
<br><br><br><br><br>
        <div class="row">
          <center><a href="#">Check out our latest offerings!</a></center>
        </div>

      </div>  <!-- /.container -->
    </section>


    <hr>




    <!--******************** Testimonials Section ********************-->
      <div class="scrollblock">
        <section id="feature">
          <div class="container">
            <div class="row">
              <div class="span12">
              </div>
            </div>  <!-- .row -->
          </div>   <!-- ./container -->
        </section>
      </div>

    <hr>



    <!--******************** PRICING Section ********************-->
    <section id="news" class="single-page scrollblock">
      <div class="container">
        <div class="align"><i class="icon-pencil-circled"></i></div>
        <h1>Pricing</h1>
        <!-- Three columns -->
        <div class="row">
          <article class="span6"> <img class="img-news" src="img/3288237-nyc.panoramic.map2.jpg" alt="">
            <div class="inside">
            </div>
          </article>
          <article class="span6">
              <h2>Tastebox is currently available in select parts of New York City.
              </h2>
              <div>
                <p>Check to see if it is available in your area</p>
                <input id="entered_zip" type=form value="enter zip code here"> </input>
                <button id="zipcode_check" type=button> submit </button>
              </div>
<br><br>
              <div id="service_area">
              </div>
          </article>
        </div>  <!-- /.row ends here -->
      </div>
    </section>
    <hr>


    <!--******************** GET STarted Section ********************-->
    <section id="contact" class="single-page scrollblock">
      <div class="container">
        <div class="align"><i class="icon-mail-2"></i></div>
        <h1>Get Started</h1>
        <p>* * * For our inaugural launch, only 100 accounts will be approved.<br>
          <%= link_to "Sign up", new_user_registration_path %> today and wait for your confirmation email! * * *
        </p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
              <!-- <div class="row">
                <div class="span12">
                  <div class="cform" id="theme-form">
                    <form action="#" method="post" class="cform-form">
                      <div class="row">
                        <div class="span6"> <span class="your-name">
                          <input type="text" id="your-name" placeholder="Your Name" class="cform-text" size="40" title="your name">
                          </span> </div>
                        <div class="span6"> <span class="your-email">
                          <input type="text" id="your-email" placeholder="Your Email" class="cform-text" size="40" title="your email">
                          </span> </div>
                      </div>
                      <div class="row">
                        <div class="span6"> <span class="company">
                          <input type="text" id="company" placeholder="Your Company" class="cform-text" size="40" title="company">
                          </span> </div>
                        <div class="span6"> <span class="website">
                          <input type="text" id="website" placeholder="Your Website" class="cform-text" size="40" title="website">
                          </span> </div>
                      </div>
                      <div class="row">
                        <div class="span12"> <span class="message">
                          <textarea id="message" class="cform-textarea" cols="40" rows="10" title="drop us a line."></textarea>
                          </span> </div>
                      </div>
                      <div>
                        <input type="submit" value="Subscribe Me!" class="cform-submit pull-left" >
                      </div>

                      <div class="cform-response-output"></div>
                    </form>

                  </div>
                </div>
              </div>  -->  <!-- /.row -->


            </div>
      </div>  <!-- /.container -->
    </section>

    <!-- Loading the javaScript at the end of the page -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/site.js"></script>





    <!--ANALYTICS CODE-->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29231762-1']);
    _gaq.push(['_setDomainName', 'dzyngiri.com']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>



  <!-- javascripts separate from template -->
<script>
$(document).ready(function() {

  // for subscription form to persist into rails server
    // $("input[type=submit]").click(function(event){
    //   event.preventDefault();
    //       var name = $("#your-name").val();   // var name = $(this.el).find('#your-name').val();
    //       var email = $("#your-email").val();
    //       var company = $("#company").val();
    //       var website = $("#website").val();
    //       var message = $("#message").val();

    //       $.ajax({
    //         type: "POST",
    //         url: "/add_to_subscribers",
    //         data: {name: name, email: email, company: company, website: website, message: message},
    //         success: alert(email +' has been added to our subscription list!  Stay tuned for updates!')
    //       });

    //       $('#your-name').val('');
    //       $('#your-email').val('');
    //       $('#company').val('');
    //       $('#website').val('');
    //       $('#message').val('');

    // });

  //for zip code area check
    $("#zipcode_check").click(function(event) {
        event.preventDefault();
        var zipcode = $("#entered_zip").val();

        var serviceArea = function(answer){
          if(answer === 'yes'){
            $('#service_area').html("Yes!  We are currently servicing your area!<br><br>Check out our products now!");
          } else {
            $('#service_area').html("Unfortunately we currently do not service your area. <br>But stay tuned!  We are expanding quickly!");
          }
        }

        $.ajax({
          type: "GET",
          url: "/zipcode_check",
          data: {zipcode: zipcode},
          success: function(response){
            serviceArea(response);

          }
        })
    })


});
</script>




