    <!--******************** NAVBAR ********************-->
    <div class="navbar-wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
            <h1 class="brand"><a href="#top">Tastemaker</a></h1>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <nav class="pull-right nav-collapse collapse">
              <ul id="menu-main" class="nav">
                <li><a title="portfolio" href="#portfolio">Tastebox</a></li>
                <li><a title="services" href="#services">How it Works</a></li>
                <li><a title="news" href="#news">Pricing</a></li>
               <!--  <li><a title="team" href="#team">meet the team</a></li> -->
                <li><a title="contact" href="#contact">Get Started</a></li>
              </ul>
            </nav>
          </div>
          <!-- /.container -->
        </div>
        <!-- /.navbar-inner -->
      </div>
      <!-- /.navbar -->
    </div>
    <!-- /.navbar-wrapper -->
    <div id="top"></div>
    <!-- ******************** HeaderWrap ********************-->
    <div id="headerwrap">
      <header class="clearfix">
     <!--    <h1>Enjoy the finest restaurants New York City has to offer</h1>
        <h3>From the convenience of your own home</h3> -->
        <div class="container">
          <div class="row">
            <div id="main-landing" class="span12">
              <!-- <h2>From the convenience of your own home</h2> -->
             <!--  <input type="text" name="your-email" placeholder="you@yourmail.com" class="cform-text" size="40" title="your email">
              <input type="submit" value="Notify me" class="cform-submit"> -->
            </div>
          </div>
          <!-- <div class="row">
            <div class="span12">
              <ul class="icon">
                <li><a href="#" target="_blank"><i class="icon-pinterest-circled"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-facebook-circled"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-twitter-circled"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-gplus-circled"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-skype-circled"></i></a></li>
              </ul>
            </div>
          </div> -->
        </div>
      </header>
    </div>
    <!--******************** Feature ********************-->
    <div class="scrollblock">
      <section id="feature">
        <div class="container">
          <div class="row">
            <div class="span12">
              <!-- <article>
                <p>We work to make web a beautiful place.</p>
                <p>We craft beautiful designs and convert them into</p>
                <p>fully functional and user-friendy web app.</p>
              </article> -->
            </div>
            <!-- ./span12 -->
          </div>
          <!-- .row -->
        </div>
        <!-- ./container -->
      </section>
    </div>
    <hr>

    <!--******************** TASTEBOX Section ********************-->
    <section id="portfolio" class="single-page scrollblock">
      <div class="container">
        <div class="align"><i class="icon-desktop-circled"></i></div>
        <h1 id="folio-headline">Tastebox</h1>
        <div class="row">

          <div class="span6">
            <div class="mask2"> <img src="img/Baked-goods-e1288379066214.jpg" alt="">
            </div>
          </div>

          <div class="span6">
            <div class="inside">
              <hgroup>
                <h2>Curated foods from the best local establishments. Delivered to your door on a regular basis.</h2>
              </hgroup>
            </div>
          </div>
        </div>  <!-- row ends -->

        <br><br>

        <div class="row">
          <div class="span6">
            <div class="mask2"> <img src="img/levain-bakery-chocolate-chip-cookie-recipe-.jpg" alt="">
            </div>
          </div>

           <div class="span6">
              <div class="inside">
                <hgroup>
                  <h2>Including Award-Winning shops including <a href="http://levainbakery.com">Levain Bakery</a>
                  </h2>
                  <Br><Br><Br><br><Br><Br>
                </hgroup>
              </div>
          </div>

          <div class="row">
            <div class="span6">
              <div class="mask2"> <img src="img/Durian Mille Crepe 5.jpg" alt="">
            </div>
          </div>

        </div>  <!-- row ends -->

      <!-- /.container -->
      </div>
    </section>
    <hr>
    <!--******************** HOW IT WORKS Section ********************-->
    <section id="services" class="single-page scrollblock">
      <div class="container">
        <div class="align"><i class="icon-cog-circled"></i></div>
        <h1>How it Works</h1>
        <!-- Four columns -->
        <div class="row">

          <div class="span4">
            <div class="align"> <i class="icon-desktop sev_icon"></i> </div>
            <h2>Subscribe</h2>
            <p>for your monthly delivery. Make sure to let us know if you have any dietary restrictions! </p>
          </div>
          <!-- /.span3 -->
          <div class="span4">
            <div class="align"> <i class="icon-vector sev_icon"></i> </div>
            <h2>Receive</h2>
            <p>a specially curated, theme-based dessert the 2nd week of each month!</p>
          </div>
          <!-- /.span3 -->
          <div class="span4">
            <div class="align"> <i class="icon-basket sev_icon"></i> </div>
            <h2>Eat</h2>
            <p>and share great desserts from the best local establishments at your convenience.</p>
          </div>
          <!-- /.span3 -->
       <!--    <div class="span3">
            <div class="align"> <i class="icon-mobile-1 sev_icon"></i> </div>
            <h2>Marketing</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div> -->
          <!-- /.span3 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <hr>




    <!--******************** Testimonials Section ********************-->
      <div class="scrollblock">
      <section id="feature">
        <div class="container">
          <div class="row">
            <div class="span12">
              <!-- <article>
                <p>We work to make web a beautiful place.</p>
                <p>We craft beautiful designs and convert them into</p>
                <p>fully functional and user-friendy web app.</p>
              </article> -->
            </div>
            <!-- ./span12 -->
          </div>
          <!-- .row -->
        </div>
        <!-- ./container -->
      </section>
    </div>
    <!-- <section id="testimonials" class="single-page hidden-phone">
      <div class="container">
        <div class="row">
          <div class="blockquote-wrapper">
            <blockquote class="mega">
              <div class="span4">
                <p class="cite">John Doe &amp; Sons:</p>
              </div>
              <div class="span8">
                <p class="alignright">"We highly appreciate the enthusiasm and creative talent of the people at Legend!"</p>
              </div>
            </blockquote>
          </div>
          <!-- /.blockquote-wrapper -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section> -->
    <hr>



    <!--******************** PRICING Section ********************-->
    <section id="news" class="single-page scrollblock">
      <div class="container">
        <div class="align"><i class="icon-pencil-circled"></i></div>
        <h1>Pricing</h1>
        <!-- Three columns -->
        <div class="row">
          <article class="span6"> <img class="img-news" src="img/3288237-nyc.panoramic.map2.jpg" alt="">
            <div class="inside">
             <!--  <div class="entry-content">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. &hellip;</p>
                <a href="#" class="more-link">read more</a> </div> -->
            </div>
            <!-- /.inside -->
          </article>
          <!-- /.span4 -->
          <article class="span6">
         <!--    <div class="inside"> -->
              <h2>Tastebox is currently available in select parts of New York City.
</h2>
              <div>
                <p>Check to see if it is available in your area</p>
                <input type=form value="enter zip code here"> </input>
                <button type=button> submit </button>
              </div>

            <!-- /.inside -->
          </article>
          <!-- /.span4 -->
       <!--    <article class="span4 post"> <img class="img-news" src="img/blog_img-03.jpg" alt="">
            <div class="inside">
              <p class="post-date">February 06, 2013</p>
              <h2>A Panda playing with his baby</h2>
              <div class="entry-content">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. &hellip;</p>
                <a href="#" class="more-link">read more</a> </div>
            </div> -->
            <!-- /.inside -->
          <!-- </article> -->
          <!-- /.span4 -->
        </div>  <!-- /.row ends here -->
  <!--       <a href="#" class="btn btn-large">Go to our blog</a>  --></div>
      <!-- /.container -->
    </section>
    <hr>
    <!--******************** members Section   NO USE ********************-->
  <!--   <section id="team" class="single-page scrollblock">
      <div class="container">
        <div class="align"><i class="icon-group-circled"></i></div>
        <h1>Get Started</h1> -->
        <!-- Five columns -->
      <!--   <div class="row">
          <div class="span2 offset1">
            <div class="teamalign"> <img class="team-thumb img-circle" src="img/portrait-1.jpg" alt=""> </div>
            <h3>Andrew</h3>
            <div class="job-position">web designer</div>
          </div> -->
          <!-- ./span2 -->
         <!--  <div class="span2">
            <div class="teamalign"> <img class="team-thumb img-circle" src="img/portrait-2.jpg" alt=""> </div>
            <h3>Stephen</h3>
            <div class="job-position">web developer</div>
          </div> -->
          <!-- ./span2 -->
         <!--  <div class="span2">
            <div class="teamalign"> <img class="team-thumb img-circle" src="img/portrait-3.jpg" alt=""> </div>
            <h3>Maria</h3>
            <div class="job-position">graphic designer</div>
          </div> -->
          <!-- ./span2 -->
         <!--  <div class="span2">
            <div class="teamalign"> <img class="team-thumb img-circle" src="img/portrait-4.jpg" alt=""> </div>
            <h3>John</h3>
            <div class="job-position">project manager</div>
          </div> -->
          <!-- ./span2 -->
         <!--  <div class="span2">
            <div class="teamalign"> <img class="team-thumb img-circle" src="img/portrait-2.jpg" alt=""> </div>
            <h3>Ashton</h3>
            <div class="job-position">real owner</div>
          </div> -->
          <!-- ./span2 -->
       <!--  </div> -->
        <!-- /.row -->
     <!--    <div class="row">
          <div class="span10 offset1">
            <hr class="featurette-divider">
            <div class="featurette">
              <h2 class="featurette-heading">Want to know more? <span class="muted">| a little about us</span></h2>
              <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
              <p>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
              <p>A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es.</p>
            </div> -->
            <!-- /.featurette -->
            <!-- <hr class="featurette-divider">
          </div> -->
          <!-- .span10 -->
       <!--  </div> -->
        <!-- /.row -->
      <!-- </div> -->
      <!-- /.container -->
    <!-- </section> -->
    <!--******************** GET STarted Section ********************-->
    <section id="contact" class="single-page scrollblock">
      <div class="container">
        <div class="align"><i class="icon-mail-2"></i></div>
        <h1>Get Started</h1>
        <div class="row">
          <div class="span12">
            <div class="cform" id="theme-form">
              <form action="#" method="post" class="cform-form">
                <div class="row">
                  <div class="span6"> <span class="your-name">
                    <input type="text" id="your-name" placeholder="Your Name" class="cform-text" size="40" title="your name">
                    </span> </div>
                  <div class="span6"> <span class="your-email">
                    <input type="text" id="your-email" placeholder="Your Email" class="cform-text" size="40" title="your email">
                    </span> </div>
                </div>
                <div class="row">
                  <div class="span6"> <span class="company">
                    <input type="text" id="company" placeholder="Your Company" class="cform-text" size="40" title="company">
                    </span> </div>
                  <div class="span6"> <span class="website">
                    <input type="text" id="website" placeholder="Your Website" class="cform-text" size="40" title="website">
                    </span> </div>
                </div>
                <div class="row">
                  <div class="span12"> <span class="message">
                    <textarea id="message" class="cform-textarea" cols="40" rows="10" title="drop us a line."></textarea>
                    </span> </div>
                </div>
                <div>
                  <input type="submit" value="Send message" class="cform-submit pull-left" >


                </div>
                <div class="cform-response-output"></div>
              </form>
            </div>
          </div>
          <!-- ./span12 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <hr>
    <div class="footer-wrapper">
      <div class="container">
        <footer>
          <small>&copy; 2013 Inbetwin Network. All rights reserved.</small>
        </footer>
      </div>
      <!-- ./container -->
    </div>
    <!-- Loading the javaScript at the end of the page -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/site.js"></script>




    <!--ANALYTICS CODE-->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29231762-1']);
    _gaq.push(['_setDomainName', 'dzyngiri.com']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>



  <!-- javascripts separate from template -->
<script>
$(document).ready(function() {

    $("input[type=submit]").click(function(event){

      event.preventDefault();
          var name = $("#your-name").val();   // var name = $(this.el).find('#your-name').val();
          var email = $("#your-email").val();
          var company = $("#company").val();
          var website = $("#website").val();
          var message = $("#message").val();

          $.ajax({
            type: "POST",
            url: "/add_to_subscribers",
            data: {name: name, email: email, company: company, website: website, message: message},
            success: alert(email +' has been added to our subscription list!  Stay tuned for updates!')
          });

          $('#your-name').val('');
          $('#your-email').val('');
          $('#company').val('');
          $('#website').val('');
          $('#message').val('');

    });



});
</script>




